html,
body {
  padding: 0;
  margin: 0;
  font-family: Work Sans, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.div-wrapper {
  position: relative;
  height: 95vh;
  width: 100%;
}

.div-wrapper img {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70vh;
  width: 50vw;
}
